.title {
    font-size: 2rem;
    padding: 10rem 0 0 0;
    color: #08a05c;
}

.productos {
    padding: 5rem 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 3rem 2rem;
    box-sizing: border-box;
}

.producto {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, 0.2);
    border: 6px solid transparent;
}

.producto:hover {
    border: 6px solid #08a05c;
}

.producto_img img {
    width: 310px;
}

.producto_footer h1 {
    font-weight: 600;
    font-size: 1.5rem;
    color: #1a202c;
    font-family: Helvetica, sans-serif;
}

.producto_footer p {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.555);
    text-transform: uppercase;
    font-size: 18px;
}

.producto_footer .price {
    font-size: 2rem;
    color: #1a202c;
}

.producto .buttom {
    width: 100%;
    height: 45px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem 3rem;
}

.buttom .btn {
    border: none;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
}

.buttom button {
    background-color: #3033d3;
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
}

.buttom div {
    background-color: #08a05c;
    display: grid;
    text-align: center;
    align-items: center;
    margin-left: -2rem;
    border-radius: 5px;
}

.buttom div a {
    color: white;
    font-weight: 700;
}

.button div a:hover {
    color: white;
}