* {
  box-sizing: content-box;
  margin: 0;
}

:root {
  height: 70vh;
  width: 100%;
}

.slider-container {
  height: 70vh;
  width: 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.active {
  display: inline-block;
}

.inactive {
  display: none;
}

.slides {
  height: 70vh;
  width: 100%;
  position: relative;
}

.slide-image {
  width: 100%;
  height: 100%;
  position: none;
  object-fit: scale-down;
}

.slide-title,
.slide-text {
  width: 100%;
  height: 100%;
  color: rgb(253, 253, 253);
  text-shadow: 5px 5px 10px black;
  font-weight: bold;
  font-size: 35px;
  position: absolute;
  text-align: center;
  top: 25%;
  z-index: 10;
}

.slide-text {
  top: 55%;
  font-size: 2rem;
}

.prev,
.next {
  color: red;
  cursor: pointer;
  z-index: 100;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1rem;
  margin-top: -3rem;
  font-size: 40px;
  font-weight: bold;
  border-radius: 0px 5px 5px 0px;
}

.slider-container:hover .prev,.slider-container:hover .next {
  color: rgb(0, 0, 0)
}

.slider-container:hover .prev:hover,
.slider-container:hover .next:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in;
}

.next {
  right: 0;
  border-radius: 5px 0px 0px 5px;
}

.all-dots {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  top: 85%;
  justify-content: center;
  z-index: 200;
}

.dot {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0px 3px;
  background-color: red;
  /* background-color: rgba(0, 0, 0, 0.3); */
  border-radius: 50%;
  display: inline-block;
}

.slider-container:hover .dot:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* .active-dot {
  background-color: rgba(255, 255, 255, 0.5);
} */

.slider-container:hover .dot{
  background-color: rgba(0, 0, 0, 0.3);
}
.slider-container:hover .active-dot{
  background-color: rgba(228, 26, 208, 0.5);
}

.play-pause {
  color: black;
}
