.App {
  text-align: center;
  background-color: gainsboro;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* __________________________________ */
.Footer{
  width: 100%;
  background-color: #061726;
}
.Footer .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.Footer .grupo-1 .imgLogoFooter{
  width: 250px;
}
.Footer .grupo-1 .box h3{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.Footer .grupo-1 .box p{
  color: rgb(174, 178, 181);
  margin-bottom: 10px;
}

.Footer .grupo-1 .redSocial img{
  display: inline-block;
  text-decoration: none;
  width: 55px;
  height: 55px;
  margin-right: 15px;
}

.Footer .grupo-1 .redSocial img:hover{
  filter: opacity(0.3) drop-shadow(0 0 0 rgb(215, 2, 201)); 
}
.Footer .grupo-2{
  background-color: #052a4a ;
  padding: 15px 10px;
  text-align: center;
  color: white;
}